html{
    margin: 0 0;
    padding: 0 0;
}

body{
    margin: 0 0;
    padding: 0 0;
}

.main{
    position: relative;
    width: 1920px;
    height: 1080px;
    
    background: url(Frame\ 1467.png), #FFFFFF;
}



@media (max-width:1360px){
    .main{
        width: 1360px;
        height: 737px;
        background: url(Frame\ 1469.png), #FFFFFF;
    }
}

@media (max-width:768px){
    .main{
        width: 768px;
        height: 1024px;
        background: url(Frame\ 1471.png), #FFFFFF;
    }
}

@media (max-width:375px){
    .main{
        width: 375px;
        height: 768px;
        background: url(Frame\ 1473.png), #FFFFFF;
    }
}

.trouble{
    position: absolute;
    width: 700px;
    height: 496px;
    left: 610px;
    top: 434px;
}

@media (max-width:1360px){
    .trouble{
        position: absolute;
        width: 700px;
        height: 361px;
        left: 330px;
        top: 183px;
    }
}

@media (max-width:768px){
    .trouble{
        width: 700px;
        height: 361px;
        left: 34px;
        top: 331px;
    }
}

@media (max-width:375px){
    .trouble{
        width: 293px;
        height: 622px;
        left: 42px;
        top: 81px;
    }
}
.text1{
    position: absolute;
    width: 286px;
    height: 176px;
    left: 817px;
    top: 434px;
    margin: 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 176px;
    text-align: center;
    /* identical to box height */
    text-transform: uppercase;

    color: #FFFFFF;
}

@media (max-width:1360px) {
    .text1{
        width: 247px;
        height: 151px;
        left: 538px;
        top: 183px;
        font-weight: 400;
        font-size: 124px;
        line-height: 151px;
    }
}

@media (max-width:768px) {
    .text1{
        width: 247px;
        height: 151px;
        left: 242px;
        top: 331px;
        font-weight: 400;
        font-size: 124px;
        line-height: 151px;
    }
}

@media (max-width:375px) {
    .text1{
        width: 293px;
        height: 477px;
        left: 42px;
        top: 81px;
        font-weight: 400;
        font-size: 240px;
        line-height: 293px;
       
        writing-mode:vertical-lr
    }
}

.text2{
    margin: 0 0;
    position: absolute;
    width: 700px;
    height: 144px;
    left: 610px;
    top: 650px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;

    /* or 72px */
    text-align: center;

    color: #FFFFFF;
}

@media (max-width:1360px) {
    .text2{
        width: 700px;
        height: 126px;
        left: 330px;
        top: 334px;
        font-weight: 500;
        font-size: 42px;
        line-height: 150%;
    }
}

@media (max-width:768px) {
    .text2{
        width: 700px;
        height: 126px;
        left: 34px;
        top: 482px;
        font-weight: 500;
        font-size: 42px;
        line-height: 150%;
        text-align: center;
    }
}

@media (max-width:375px) {
    .text2{
        display: none;
    }
}

.back{
    /* Frame 3 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 30px;
    gap: 20px;

    position: absolute;
    width: 281px;
    height: 56px;
    left: 820px;
    top: 874px;

    border: 1px solid #FFFFFF;
}

@media (max-width:1360px) {
    .back{
        left: 537px;
        top: 488px;
    }
}

@media (max-width:768px) {
    .back{
        box-sizing: border-box;

        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px 30px;
        gap: 20px;
        
        position: absolute;
        width: 281px;
        height: 56px;
        left: 241px;
        top: 636px;
        
        border: 1px solid #FFFFFF;
    }
}

@media (max-width:375px) {
    .back{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px 30px;
        gap: 20px;

        position: absolute;
        width: 281px;
        height: 56px;
        left: 47px;
        top: 647px;

        border: 1px solid #FFFFFF;
    }
    
}

.text3{
    margin: 0 0;
    /* Вернуться на главную */

    width: 189px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height */

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.arrow{
    
    width: 12px;
    height: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    left: 20.63%;
    right: 20.63%;
    top: 0%;
    bottom: 0%;  
}

