html,
body{
    margin: 0 0;
    padding: 0 0;
}

.main{
    position: absolute;
    width: 1920px;
    height: 1338px;
    background-color: #F4F3E4;
    background: url(back.jpg);
}

@media (max-width:360px) {
    .main{
        position: absolute;
        width: 360px;
        height: 960px;
        background: #F4F3E4;
    }
}

.zaglav{
    margin-left: auto;
    margin-right: auto;
    margin-top: 77px;
    width: 1109px;
    height: 165px;
    position: relative;
    display: grid;
    grid-template-areas: "b b a" 
                         "b b c"
                         "b b c";
}

@media (max-width: 360px) {
    .zaglav{
        margin-top: 33px;
        width: 340px;
        height: 206px;
        position: relative;
        display: grid;
        grid-template-areas: "b" 
                             "a"
                             "c";
    }
}

.text1{
    width: 376px;
    height: 141px;
    margin: 0 0;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: rgba(29, 29, 29, 0.7);
    grid-area: b;
}

@media (max-width: 360px) {
    .text1{
        width: 287px;
        height: 48px;
        font-size: 20px;
        line-height: 120%;
    }
}

.text2{
    width: 634px;
    height: 132px;
    margin: 0 0;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: rgba(29, 29, 29, 0.7);
    grid-area: c;
}

@media (max-width: 360px) {
    .text2{
        width: 340px;
        height: 132px;
        font-size: 14px;
        line-height: 120%;
    }
}

.polosa{
    position: relative;
    display: flex;
    width: 348px;
    height: 4px;
    background: rgba(29, 29, 29, 0.7);
    grid-area: a;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 360px) {
    .polosa{
        width: 300px;
        height: 2px;
    }
}


.photo{
    position: relative;
    display: grid;
    margin-left: 405px;
    margin-right: 405px;
    margin-top: 38px;
    margin-bottom: 153px;
    width: 1110px;
    height: 905px;
    grid-column-gap: 16px;
    grid-row-gap: 14px;
    grid-template-areas: "p1 p1 p2 p3"
                        "p1 p1 p2 p4"
                        "p7 p6 p5 p5"
                        "p8 p8 p9 p9"
}

@media (max-width: 360px) {
    .photo{
        position: relative;
        display: grid;
        margin-left: 10px;
        margin-right: 9.51px;
        margin-top: 41px;
        margin-bottom: 90.57px;
        width: 340.49px;
        height: 589.43px;
        grid-column-gap: 6px;
        grid-row-gap: 7px;
        grid-template-areas: "p1 p1 p1 p2 p2"
                            "p1 p1 p1 p2 p2"
                            "p3 p3 p4 p4 p4"
                            "p6 p6 p5 p5 p5"
                            "p7 p7 p7 p9 p9"
                            "p8 p8 p8 p9 p9";
    }
}


.photo1{
    display: grid;
    width: 459px;
    height: 445px;
    background-image: url(1.jpg);
    grid-area: p1;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo1{
        width: 198.49px;
        height: 192.43px;
        background-image: url(360/1.jpg);
        grid-area: p1;
        align-items: flex-end;
    }
}

.photo2{
    display: grid;
    width: 310px;
    height: 445px;
    background-image: url(2.jpg);
    grid-area: p2;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo2{
        display: grid;
        width: 135px;
        height: 192.43px;
        background-image: url(360/2.jpg);
        grid-area: p2;
        align-items: flex-end;
    }
}

.photo3{
    display: grid;
    width: 310px;
    height: 216px;
    background-image: url(3.jpg);
    grid-area: p3;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo3{
        width: 134px;
        height: 93.41px;
        grid-area: p3;
        align-items: flex-end;
        background-image: url(360/3.jpg);
    }
}

.photo4{
    display: grid;
    width: 310px;
    height: 216px;
    background-image: url(4.jpg);
    grid-area: p4;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo4{
        display: grid;
        width: 198px;
        height: 93.41px;
        background-image: url(360/4.jpg);
        grid-area: p4;
        align-items: flex-end;
    }
}

.photo5{
    display: grid;
    width: 635px;
    height: 216px;
    background-image: url(5.jpg);
    grid-area: p5;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo5{
        display: grid;
        width: 198.49px;
        height: 93.54px;
        background-image: url(360/5.jpg);
        grid-area: p5;
        align-items: flex-end;
    }
}

.photo6{
    display: grid;
    width: 222px;
    height: 216px;
    background-image: url(6.jpg);
    grid-area: p6;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo6{
        display: grid;
        width: 134px;
        height: 95.54px;
        background-image: url(360/6.jpg);
        grid-area: p6;
        align-items: flex-end;
    }
}

.photo7{
    display: grid;
    width: 222px;
    height: 216px;
    background-image: url(7.jpg);
    grid-area: p7;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo7{
        display: grid;
        width: 198px;
        height: 93.41px;
        background-image: url(360/7.jpg);
        grid-area: p7;
        align-items: flex-end;
    }
}

.photo8{
    display: grid;
    width: 459px;
    height: 216px;
    background-image: url(8.jpg);
    grid-area: p8;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo8{
        display: grid;
        width: 198px;
        height: 93.41px;
        background-image: url(360/8.jpg);
        grid-area: p8;
        align-items: flex-end;
    }
}

.photo9{
    display: grid;
    width: 635px;
    height: 216px;
    background-image: url(9.jpg);
    grid-area: p9;
    align-items: flex-end;
}

@media (max-width:360px){
    .photo9{
        display: grid;
        width: 134px;
        height: 192px;
        background-image: url(360/9.jpg);
        grid-area: p9;
        align-items: flex-end;
    }
}

.name{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(29, 29, 29, 0.7);
    mix-blend-mode: normal;
    border-radius: 2px;
    align-items: center;
}

@media (max-width:360px){
    .name{
        position: relative;
        display: flex;
        width: 100%;
        height: 37px;
        background: rgba(29, 29, 29, 0.7);
        mix-blend-mode: normal;
        border-radius: 2px;
        align-items: center;
    }
}

.name1{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(29, 29, 29, 0.7);
    mix-blend-mode: normal;
    border-radius: 2px;
    align-items: center;
}

@media (max-width:360px){
    .name1{
        position: relative;
        display: flex;
        width: 100%;
        height: 37px;
        background: rgba(29, 29, 29, 0.7);
        mix-blend-mode: normal;
        border-radius: 2px;
        align-items: center;
    }
}

.txp1{
    margin: 0 0;
    margin-left: 34px;
    /* Гос. контракты */

    position: absolute;
    width: 168px;
    height: 31px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;

    /* or 31px */

    color: #FFFFFF;
}

.txp2{
    margin: 0 0;
    margin-left: 20px;
    /* Входная группа и хранение */

    position: absolute;
    width: 148px;
    height: 48px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;

    /* or 24px */

    color: #FFFFFF;
}

.txp3{
    margin: 0 0;
    margin-left: 23px;
    /* Кухонная зона */

    position: absolute;
    width: 138px;
    height: 26px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;

    /* identical to box height, or 26px */

    color: #FFFFFF;
}

.txp4{
    margin: 0 0;
    margin-left: 23px;
    /* Мягкая мебель */

    position: absolute;
    width: 74px;
    height: 48px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;

    /* or 24px */

    color: #FFFFFF;
}

.txp5{
    margin: 0 0;
    margin-left: 34px;
    /* Детские комнаты */

    position: absolute;
    width: 196px;
    height: 31px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;

    /* or 31px */

    color: #FFFFFF;
}

.txp6{
    margin: 0 0;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 38px;
    /* Мебель для гостинной */

    position: absolute;
    width: 191px;
    height: 22px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    /* identical to box height, or 22px */

    color: #FFFFFF;
    }

.txp7{
    margin: 0 0;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 38px;
    /* Офисная мебель */

    position: absolute;
    width: 144px;
    height: 22px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    /* identical to box height, or 22px */

    color: #FFFFFF;
}

.txp8{
    margin: 0 0;
    margin-left: 34px;
    /* Медицинская мебель */

    position: absolute;
    width: 247px;
    height: 31px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;

    /* or 31px */

    color: #FFFFFF;
}

.txp9{
    margin: 0 0;
    margin-left: 34px;
    /* Торгово-выставочное оборудование */

    position: absolute;
    width: 411px;
    height: 31px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;

    /* or 31px */

    color: #FFFFFF;
}

@media (max-width:360px){
    .txp1,
    .txp2,
    .txp3,
    .txp4,
    .txp5,
    .txp6,
    .txp7,
    .txp8,
    .txp9{
        margin: 0 0;
        margin-left: 8px;
        display: none;
    }
}

@media (max-width:360px){
    .txp1-1,
    .txp2-1,
    .txp3-1,
    .txp4-1,
    .txp5-1,
    .txp6-1,
    .txp7-1,
    .txp8-1,
    .txp9-1
    {
        position: absolute;
        width: 100%;
        height: 28px;

        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 550;
        font-size: 14px;
        line-height: 100%;

        /* or 14px */

        color: #FFFFFF;
    }
}

.podr{
    margin: 0 0;
    /* Подробнее */

    position: absolute;
    width: 74px;
    height: 18px;

    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    /* or 18px */
    text-decoration-line: underline;

    color: #D7B56D;
}

@media (max-width:360px){
    .podr{
        display: none;
    }
}

.bttn1{
    position: relative;
    display: flex;
    width: 110px;
    height: 18px;
    margin-top: 41px;
    margin-bottom: 11px;
    margin-left: 14px;
}

@media (max-width:360px){
    .bttn1{
        display: none;
    }
}

.bttn{
    position: relative;
    display: flex;
    width: 110px;
    height: 18px;
    margin-left: auto;
    margin-right: 24px;
}


@media (max-width:360px){
    .bttn{
        display: none;
    }
}


